@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/font/mako/mako-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/font/mako/mako-v18-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/mako/mako-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/mako/mako-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/mako/mako-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/mako/mako-v18-latin-regular.svg') format('svg'); /* Legacy iOS */
}

